<ion-content [fullscreen]="true">
  <ion-button
  class="ion-margin" 
  expand="block"
  ion-long-press
  (press)="onPress($event)"
  (longPressed)="onPress($event)"
  (pressEnded)="onPress($event)">
  LONG PRESS GESTURE
</ion-button><ion-button
class="ion-margin" 
expand="block"
ion-long-press
>
LONG PRESS GESTURE
</ion-button><ion-button
class="ion-margin" 
expand="block"
ion-long-press
>
LONG PRESS GESTURE
</ion-button>
  <!-- Toolbar -->
  <div style="display: flex; background-color: #00abec; padding: 0">
    <ion-title style="color: #fff"> Vacancies </ion-title>
    <button
      style="
        color: #00abec;
        font-weight: 600;
        padding: 15px;
        border-radius: 5px;
        background-color: #fff;
        margin: 8px;
      "
    >
      Applicants
    </button>
  </div>

  <!-- Body -->
  <div class="upper-div">
    <h4 style="color: #555555">Operations Officer</h4>
    <div style="display: flex">
      <div style="margin-right: 30px; display: flex">
        <img src="../../assets/pictures/Job.svg" alt="" />
        <p style="margin-left: 5px; color: #555555">Vacancies</p>
      </div>
      <div style="margin-right: 30px; display: flex">
        <img src="../../assets/pictures/Calendar-01.svg" alt="" />
        <p style="margin-left: 5px; color: #555555">31st December 2024</p>
      </div>
    </div>
    <div style="display: flex; margin-top: 15px">
      <button
        style="
          padding: 10px;
          margin: 10px;
          border: 1px solid #ccc;
          border-radius: 8px;
          display: flex;
          width: 49%;
          align-items: center;
          background-color: #fff;
          justify-content: center;
        "
      >
        <img
          style="margin-right: 5px"
          src="../../assets/pictures/Chat-question-discussion.svg"
          alt=""
        />
        <p style="color: #555555">Interviews</p>
      </button>
      <button style="
          padding: 10px;
          margin: 10px;
          border: 1px solid #ccc;
          border-radius: 8px;
          display: flex;
          width: 49%;
          background-color: #fff;
          align-items: center;
          justify-content: center;
        "
      >
        <img
          style="margin-right: 5px"
          src="../../assets/pictures/Apprisal-star-comment.svg"
          alt=""
        />
        <p style="color: #555555">Top Interview</p>
      </button>
    </div>
  </div>

  <div class="second-div" cdkDropListGroup>
    <app-general-card-lists [Lists]="[items, basket, stock, grocery, finalized]" [ListsColors]="['#f04438', '#ff692E','#FDB022', '#47CD89', '#079455']" [ListsHeaders]="['Applied','Shortlisted', 'Interviewed', 'Offered', 'Finalized']"></app-general-card-lists>
  </div>
</ion-content>

