

.upper-div {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.second-div {
  margin-left: 10px;
  overflow-x: auto;
  display: flex;
  height: max-content;
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
}

